<%= form_with(model: translation, remote: true) do |form| %>
  <div class="form-group">
    <%= form.text_area :content, id: "translation_content_#{sentence.id}", class: "form-control form-control-lg", rows:"3" %>
    <%= form.hidden_field :sentence_id, value: @sentence.id  %>

    <%= form.submit "翻訳を投稿", class:"btn btn-primary offset-10 col-2 mt-2"%>
  </div>
<% end %>