<h2>
  <% if @which == 'following'%>
    <%= t('.follow') %>
  <% else %>
    <%= t('.follower') %>
  <% end %>
</h2>
<div id="user_index_form">
  <% @users.each do |user| %>
    <%= link_to(user.name, user_path(user.id)) %>
  <% end %>
</div>
