<h2>
  <% if @which == 'following'%>
    <%= t('.follow') %>
  <% else %>
    <%= t('.follower') %>
  <% end %>
</h2>
<% @users.each do |user| %>
  <%= link_to(user.name, user_path(user.id)) %>
  <br>
<% end %>
<br>