<%= form_with(model: [translation, comment]) do |form| %>
  <%# 入力フォーム %>
  <div class="card bg-light form-group mb-5 p-3 offset-md-2 col-md-8 offset-lg-3 col-lg-6">
    <div class="card-body">
      <h5 class="card-title"><%= form.label t('translations.show.comment_area') %></h5>
      <p class="card-text">
        <%= form.text_area :content, class:"form-control col-12" %>
        <%= form.submit t('translations.show.submit'), class: "btn btn-primary offset-9 col-3 mt-1" %>
      </p>
    </div>
  </div>
<% end %>
