// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// _book_from
.book_form{
  margin: 6rem auto 0 auto;
  font-size: 2rem;
}

.book_form form ul li {
  list-style: none;
  margin: 2rem 25%;
}

.book_form form ul li label{
  margin-right: 10px;
  width: 100%;
  float: left;
}

.book_form form ul li input{
  width: 100%;
}

.book_form form ul li textarea{
  width: 100%;
  height: 1000px;
}

.book_submit{
  margin-top: 4rem;
}

// book_index 
main .yield_wrap #book_index_container{
  border-radius: 7px;
}
#table{
  background-color: white;
  border-radius: 14px;
  padding: 40px;
}
main .yield_wrap .book_index_search{
  width: 100%;
  margin-top: 5rem;
  font-size: 1.5rem;
}

main .yield_wrap .book_index_search form{
  text-align: center;
}

main .yield_wrap .book_index_search form label, input, select{
  margin-right: 2rem;
}

table{
  width: 100%;
  margin: 0 auto 0 auto;
  font-size: 2rem;
  border-spacing: 10px 10px;
}

// show
main .yield_wrap .book_status{
  text-align: center;
}
main .yield_wrap #sentence_box{
  background-color: rgb(218, 218, 218);
  border-radius: 14px;
}
main .yield_wrap #sentence_box tbody{
  display: block;
  padding: 30px;
}