// Place all the styles related to the sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// edit
main .yield_wrap #sentence_form{
  margin-top: 4rem;
  text-align: center;
}

main .yield_wrap #sentence_form div textarea{
  width: 40%;
  height: 10rem;
  font-size: 1.8rem;
}

main .yield_wrap #sentence_form div input{
  margin-top: 3rem;
}

// show
#original{
  text-align: center;
}

#original strong{
  font-size: 2rem;
}

#sentence_div{
  margin-top: 3rem;
  width: 100%;
}

main .yield_wrap .sentence_box{
  width: 100%;
  font-size: 1.8rem;
  display: inline-block;
}