// Place all the styles related to the sentences controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// edit
main .yield_wrap #sentence_form{
  margin-top: 4rem;
  text-align: center;
}

main .yield_wrap #sentence_form div textarea{
  width: 40%;
  height: 10rem;
  font-size: 1.8rem;
}

main .yield_wrap #sentence_form div input{
  margin-top: 3rem;
}

// show
#original{
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: auto;
  min-height: 8rem;
  padding: 15px;
  border-radius: 10px; 
  border: 2px solid #b20000; 
}

#original strong{
  font-size: 2rem;
}

#sentence_div{
  margin-top: 3rem;
  width: 100%;
}

main .yield_wrap #sentence_div{
  width: 100%;
}

main .yield_wrap .sentence_box{
  min-height: 3rem;
  font-size: 1.8rem;
  text-align: center;
  margin: auto;
  margin-bottom: 3rem;
  padding: 15px 20px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px; 
}