// Place all the styles related to the translations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// translation_form

.new_post_box{
  width: 60%;
  margin: auto;
  margin-top: 6rem;
  font-size: 1.7rem;
}

.new_post_box .field{
  margin-top: 3rem;
}

.new_post_box .field textarea{
  border: solid;
}

.new_post_box .actions{
  width: 100%;
  text-align: center;
}

// index
