/* ==================================== 
    user_from
=====================================*/

#user_form_container{
  font-size: 1.7rem;
  width: 100%;
}
#user_form_container ul li {
  list-style: none;
  margin-top: 0.8rem;
}
#user_form_container label {
  margin-right: 10px;
  width:150px;
  float: left;
}
#user_form_container #under{
  clear: both;
}
#user_form_container ul {
  width: 300px;
  margin: 0 auto;
  padding-left: 0;
}
#user_form_container textarea{
  width: 70%;
}
#user_form_container .actions{
  margin-top: 3rem;
  text-align: center;
}
#user_form_container .new_form{
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

/* ==================================== 
    index
=====================================*/

#user_index_form{
  text-align: center;
  font-size: 2rem;
}
#user_index_form a{
  display: inline-block;
  margin-top: 5px;
}

/* ==================================== 
    new
=====================================*/
#introduction{
  position: absolute;
  margin: 10rem 0 0 6rem;
  width: 500px;
  color: white;
  font: italic 1.5em "Fira Sans", serif;
}

/* ==================================== 
    show
=====================================*/

#profile_container{
  font-size: 2rem;
  background-color: white;
  border-radius: 7px;
  padding: 40px;
  margin-bottom: 6rem;
}
#profile_container #user_name_box{
  font-weight: bold;
  font-size: 3rem;
}


#profile_container #translation_box div span{
  display: inline-block;
  margin-top: 2rem;
}
